html
  head
    style
     include footer.css
  body
   footer
      h4.logo Express-it
      p.contact expressit@gmail.com
      
      p All rights are reserved to Express-it blog ©2020-2025
      p A beutiful blog app by Enjr_G