doctype html
html
  head 
    style
      include home.css
      include about.css
    script(src="./javascript.js") 
  body
    include ./partials/header.pug 
    
    div.breadcrumb
        p Home > About us
    div.main
        h4.heading About 
            span express-it
        p Express-it my hobby project , i builded this to implement and enhance my nodeJS skills , along with css designing and database (no-sql) part.
        p express-it is a simple blogging site ,  allows to post a post on this with an image , heading , and long description  
        p All we have to create an account and we can simply post a message, post there by logging with our credential. Im just very happy and well satisfied with  my end product :)

    include ./partials/footer.pug
    